.categories .section-title {
  width: 312px;
  margin: 0 auto;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.category-card {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--title-weight);
  width: 312px;
  height: 220px;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--background-secondary-color);
  display: block;
  border-radius: 16px;
}

.category-card.single-line {
  padding-top: 50px;
}

.category-card.transfer img {
  margin: 10px auto 44px;
}

.category-image {
  margin: 0 auto;
  display: block;
}

.category-card h3 {
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .categories-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
  }
  .category-card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .category-card {
    width: 280px;
  }
}
