.categories .section-title{
  width: 312px;
  margin: 0 auto;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.category-card {
  text-decoration: none;
  width: 312px;
  height: 220px;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: var(--background-secondary-color);
  display: block;
  border-radius: 16px;
}

.category-image {
  width: 80px;
  height: 80px;
  background: url(../img/icone-pacotes-nacionais.png) no-repeat;
  background-position: center;
  margin: 0 100px;
  display: inline-block;
}

.category-image.internacional {
  background: url(../img/icone-pacotes-interacionais.png) no-repeat;
  background-position: center;
}

.category-image.transfer {
  background: url(../img/icone-transfer.png) no-repeat;
  background-position: center;
  margin-top: 17px;
}

.category-image.seguro-viagem {
  background: url(../img/icone-seguro-viagem.png) no-repeat;
  background-position: center;
  margin-top: 17px;
}

.category-card h3 {
  color: var(--primary-color);
  font-weight: var(--title-weight);
  font-size: 28px;
  text-align: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .categories .section-title{
  width: 100%;
}

  .categories-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
  }
  .category-card {
    width: 430px;

  }

  .category-image {
    margin: 0 40%;
  }
}

@media screen and (min-width: 1440px) {
   .category-card {
    width: 280px;

  }
  .category-image {
    margin: 0 84px;
  }
}
