.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item header {
  padding: 0;
}

.item {
  width: 312px;
  display: block;
}

.item .img-item {
  width: 312px;
  height: 360px;
}

.item .img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.item .img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.item h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.item .button {
  width: 100%;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 648px;
  }

  .item .img-item {
    width: 648px;
    height: 452px;
  }

  .item .img-item.tokyo {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .item .img-item.osaka {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .item .button {
    width: 280px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    width: 900px;
  }

  .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
  
  
    .item {
    width: 588px;
  }

  .item .img-item {
    width: 100%;
    height: 452px;
  }
}
